<div id="map">
  <%= map(:center => {
  :latlng => [54.6872, 25.2797],
  :zoom => 12
  },
  :markers => @markers
) %>
</div>
    ПОСЛЕДНИЕ ДОБАВЛЕНИЯ:
<%= render partial: "companies/company", collection: @companies_cache %>
