
<div class="row">
  <div class="small-2 small-centered columns">
    <div class="card" style="width: 300px;">
  <div class="card-divider">
    <span class="title">Зайти с помощью:</span>
  </div>
  <div class="card-section">
    <div class="content">

    <%= link_to ('<i class="button large fa fa-facebook fa-5" aria-hidden="true"></i>').html_safe, user_omniauth_authorize_path(:facebook) %>
    <%= link_to ('<i class="button large fa fa-vk fa-5" aria-hidden="true"></i>').html_safe, user_omniauth_authorize_path(:vkontakte) %>
  </div>
  </div>
</div>
</div>
</div>
