<div class="card">
  <div class="card-divider">
    <span class="title"><%= link_to company.name, company%></span>
    <% if !current_user.nil? && current_user.admin? %>

      <%= link_to 'Редактировать', edit_company_path(company), :class=>'button warning small' %>
      <%= link_to 'Удалить', company, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'button alert small' %>
    <% end %>
  </div>
  <div class="content">
      Категория: <%= link_to company.category.name, companies_list_path(company.category.id)%>
  </div>
  <div class="action">
      <%= link_to company.city.name, streets_list_path(city: company.city.name) %>, <%= link_to company.street.name, company.street %>, <%= company.hnum %>
      <% if company.hidden? %>
        <span class="label secondary">ждет подтверждения администрацией</span>
      <% end %>
      <% if !current_user.nil? && current_user.admin? %>
        <span class="label warning"><%= company.user %></span>
      <% end %>



</div>
