<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
   <div class="field">
     <%= f.label :category %><br>
   <select name="company[category_id]" id="company_category_id">
  <% Category.walk_tree do |category, level| %>
  <option value="<%= category.id %>" <%='selected' if category.id == @company.category_id%> ><%= '>' * level %> <%= category.name %></option> %>
  <% end %>
  </select>


    </div>

    <div class="field">
      <%= f.label :description %><br>
        <%= quill_editor nil, { name: 'company[description]', value: @company.description }%>
   </div>
   <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
   <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
   <%= f.label :worktime %><br>
   <%= f.text_field :worktime %>
 </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.collection_select :city_id, City.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :street %><br>
    <%= f.collection_select :street_id, Street.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :hnum %><br>
    <%= f.text_field :hnum %>
  </div>
  <% if !current_user.nil? && current_user.admin? then %>
  <div class="field">
    <%= f.label "Hidden?" %> <br />
    <%= f.check_box :hidden %> <br />
</div>
 <% end %>
  <div class="actions">
    <%= f.submit 'Добавить', :class => "button" %>
  </div>
<% end %>
