<%
  title 'Категория: ' + @category.name
  keywords [@category.name,'Организации', 'Компании'].reject(&:empty?).join(',')
  %>

   <div id="map">
  <%= map(:center => {
    :latlng => [54.6872, 25.2797],
    :zoom => 12
  },
  :markers => @markers
  ) %>
</div>
<%= render partial: "companies/company", collection: @companies %>
