<%
  title @company.name
  keywords [@company.name, @company.category.name, @company.street.name, @company.city.name, 'Организации', 'Компании'].reject(&:empty?).join(',')
  %>

<style>
#map { height: 380px; }
</style>

<div class="card">
  <div class="card-divider">
    <h1><%= @company.name %><%= link_to 'Edit', edit_company_path(@company), :class=>'button small warning' if !current_user.nil? && current_user.admin? %></h1>
  </div>
  <div class="card-section">
		<h5><%= link_to @company.city.name, streets_list_path(@company.city.name) %>, <%= link_to @company.street.name, @company.street %>, <%= @company.hnum %> </h5>
		<div class="phone"><%= @company.phone %></div>
		 <div class="card-divider"><div class="website"><%= @company.website %></div></div>
<%= map(:center => {
     :latlng => [@company.lat, @company.lng],
     :zoom => 16
     },
     :markers => [
         {
        :latlng => [@company.lat, @company.lng],
        :popup => @company.name
         }
       ]
     ) %>

		<div class="content description">
			<%= sanitize @company.description %>
		</div>

  </div>
</div>
