<h1><%= @city.name %></h1>
<style>
#map { height: 380px; }
</style>
<%= map(:center => {
	:latlng => [@city.longitude,@city.latitude],
	:zoom => 16
},
:markers => [
    {
       :latlng => [@city.longitude,@city.latitude],
       :popup => @city.name
    }
  ]
) %>
<script type="text/javascript">
  function onMapClick(e) {
    var html = @city.name;
    map.openPopup(html, e.latlng);
}

map.on('click', onMapClick);


</script>
<% @alphabet.each do |letter| %>
  <%= link_to letter, streets_list_path(city: @city.name, letter: letter) %>
<% end %>
<table>

  <tbody>
    <% @streets.each do |street| %>
      <tr>

        <td><%= link_to street.name, street %></td>

      </tr>
    <% end %>
  </tbody>
</table>
