<%
  title @street.name + ', ' +@city.name
  keywords [@city.name,@street.name].reject(&:empty?).join(',')
  %>



      <h1>улица <%= @street.name %></h1>
      <%= @location if !current_user.nil? && current_user.admin? %>

      <%= map(
              :center => {
                      	:latlng => [@street.latitude, @street.longitude],
                      	:zoom => 14
                        },
              :markers => [{
                     :latlng => [@street.latitude, @street.longitude],
                     :popup => @street.name
                  }]
        ) %>

<%= render partial: "companies/company", collection: @street.companies %>
