    <div class="row small-up-1 medium-up-2 large-up-4">
    <% @cities.each do |city| %>
    <div class="column">
    <%= link_to city.name, streets_list_path(city: city.name) %>
    </div>
    <% end %>
</div>
