<%# Rails flash messages styled for Zurb Foundation %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  <div data-closable class="callout alert-callout-border <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
    <%= content_tag :div, msg %>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% end %>
<% end %>
